.register-container{
  display: flex;
  gap:40px
}
.register-forma{
  margin-top: 5rem;
}
.button-form-submit{
  width: 100%;
  color: white;
  background: var(--maincolor);
  border: none;
  padding: 10px 20px;

}