.product-details{
  display: flex;
  justify-content: space-evenly;
}
.side-detail-image{

  display: flex;
}
.side-image-group{
  display: flex;
  flex-direction: column;
}
.side-image-group img{
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  padding: 5px;
}
.side-detail-image img{
  margin-top: 50px;
}
.side-detail-textblock{
  width: 400px
}
.delivery-node-item{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.delivery-node{
  border: 1px solid #a9a9a9;
  border-radius: 19px;
  padding: 10px;
}
.delivery-node-item-desc{
  display: flex;
  flex-direction: column;
}
.tags-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.product-tag {
  background-color: #8ed2ff;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 0.9rem;
}
.related-product-container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 30px;
}