.star-rating {
  display: flex;
--starcolor: #ffad33;
  margin-bottom: 10px;
  font-size: 24px;
}
.star-rating {
  display: flex;
  align-items: center;
  font-size: 24px; // Размер звезд
  color: #ccc; // Цвет пустых звезд

  .star {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    line-height: 1;
  }

  .filled {
    color: #facc15; // Цвет полных звезд
  }

  .half {
    color: #facc15; // Цвет дробной звезды
    overflow: hidden;

    &::after {
      content: '★';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(var(--fraction) * 100%);
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .empty {
    color: #ccc; // Цвет пустых звезд
  }

  .gray {
    margin-left: 8px;
    font-size: 20px;
    color: #6b7280;
  }
}